.route {
    display: flex;
    gap: 20px;
}

.rtl {
    order: 2;
}

.route__modal{
    display: flex;
    gap: 20px;
    padding: 0px;
}

.line {
    margin-top: 18px;
    min-width: 84px;
    height: 4px;
    background-color: #037E8C;
}

.route__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 545px;
    max-width: 545px;
}

.route__title {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.route__price {
    font-size: 24px;
    font-weight: 700;
}

.route__list {
    list-style: none;
}

.route__list__item {
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
}

.route__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.route__buttons{
    display: flex;
    gap: 12px;
    align-items: center;
}