.route__slider{
    position: relative;
    height: 95% !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.route__slider__item {
    width: 350px;
    height: 350px;
}

.route__slider__pagination{
    position: relative;
    display: flex;
    gap: 12px;
    z-index: 10;
}

.route__slider__pagination::before {
    content: "scroll";
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 110px;
    color: #121214;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}

.route__slider__pagination::after {
    content: "";
    display: block;
    width: 54px;
    height: 1px;
    background: #121214;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
}


.active {
    background: #037E8C !important;
}

.paginationBullet {
    width: 8px;
    height: 8px;
    background: #121214;
    border-radius: 50%;
    display: inline-block;
}
