.team {
    position: relative;
    padding: 64px 72px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 44px;
}

.team__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
}

.team__item {
    border-radius: 10px;
    width: fit-content;
    background-color: #F4F4F4;
}

.team__item__text {
    padding: 18px 26px 22px;
}

.team__item__text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #037E8C;
}

.team__item__text p {
    color: #121214;
    font-size: 18px;
}

.canister, .bumper {
    position: absolute;
    opacity: 20%;
    z-index: -1;
}

.canister {
    bottom: -120px;
    left: -280px;
}

.bumper {
    top: -120px;
    right: -280px;
}

@media screen and (max-width: 1300px) {
    .team {
        padding: 32px 12px;
    }

    .team__content {
        grid-template-columns: repeat(2, 1fr);
        gap:20px
    }
}

@media screen and (max-width: 768px) {
    .team__item {
        min-height: 230px;
        min-width: 160px;
    }

    .team__item__img {
        width: 100% !important;
        height: 160px !important;
    }
    
    .team__item__text {
        padding: 10px 0px 10px;
    }
    
    .team__item__text h3 {
        font-size: 18px;
    }
    
    .team__item__text p {
        font-size: 14px;
    }
}