.header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 72px;
    z-index: 2;
    color: #ffffff;
}

.menu {
    display: flex;
    gap: 80px;
    margin-top: 24px;
}

.menu a {
    font-size: 14px;
    font-weight: 600;
    height: fit-content;
    text-transform: uppercase;
}

.menu a:hover {
    color: #037E8C;
    transition: color 0.3s;
}

.contacts {
    position: relative;
    margin-top: 24px;
}

.number {
    position: relative;
    font-size: 20px;
}

.button {
    width: 100%;
    padding: 12px 20px;
    background: #FFFFFF66;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
}
